<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<app-team-charts></app-team-charts>
<table class="table table-hover table-dark text-center">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Team</th>
      <th scope="col">Details</th>
      <th scope="col">Points</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let team of teams'>
      <th>{{team.position}}</th>
      <td><a [routerLink]="['/team', team.Constructor.constructorId]"><img src='assets/images/constructors/{{team.Constructor.nationality}}.png'width="41px" height="25px">{{team.Constructor.name}}</a></td>
      <td><a href="{{team.Constructor.url}}"><i class="fa fa-external-link-square" aria-hidden="true"></i></a></td>
      <td>{{team.points}}</td>
    </tr>
  </tbody>
</table>
