<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<table class="table table-hover table-dark text-center">
  <thead>
    <tr>
      <th scope="col">Round</th>
      <th scope="col">Grand Prix</th>
      <th scope="col">Circuit</th>
      <th scope="col">Date</th>
      <th scope="col">Winner</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let race of races'>
      <th>{{race.round}}</th>
      <td><a [routerLink]="['/race', race.round]"><img src='assets/images/circuits/{{race.Circuit.Location.country}}.png'width="41px" height="25px">{{race.raceName}}</a></td>
      <td>{{race.Circuit.circuitName}}</td>
      <td>{{race.date}}</td>
      <td>{{race.Results[0].Driver.givenName}} {{race.Results[0].Driver.familyName}}</td>
    </tr>
  </tbody>
</table>
