<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span><img src="assets/images/logo/f1.png" width="150px" height="30px"></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive='active current'>Driver</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/team" routerLinkActive='active current'>Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/race" routerLinkActive='active current'>Race</a>
        </li>
      </ul>
      
    </div>
  </nav>
<router-outlet></router-outlet>