<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<table class="table table-hover table-dark text-center">
  <thead>
    <tr>
      <th scope="col">Round</th>
      <th scope="col">Grand Prix</th>
      <th scope="col">Team</th>
      <th scope="col">Grid</th>
      <th scope="col">1</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let team of teams'>
      <th>{{team.round}}</th>
      <td><img src='assets/images/circuits/{{team.Circuit.Location.country}}.png'width="41px" height="25px">{{team.raceName}}</td>
      <td>{{team.Results[0].position}}</td>
      <td>{{team.Results[1].position}}</td>
      <td>{{(team.Results[0].points) -- (team.Results[1].points)}}</td>
    </tr>
  </tbody>
</table>
