<div class="container">
  <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
  <app-driver-charts></app-driver-charts> 
  
<table class="table table-hover table-dark text-center">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Driver</th>
      <th scope="col">Team</th>
      <th scope="col">Points</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let driver of drivers'>
      <th>{{driver.position}}</th>
      <td><a [routerLink]="['/driver', driver.Driver.driverId]"><img src='assets/images/drivers/{{driver.Driver.nationality}}.png'width="41px" height="25px">{{driver.Driver.givenName}} {{driver.Driver.familyName}}</a></td>
      <td>{{driver.Constructors[0].name}}</td>
      <td>{{driver.points}}</td>
    </tr>
  </tbody>
</table>
</div>