<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<table class="table table-hover table-dark text-center">
  <thead>
    <tr>
      <th scope="col">Round</th>
      <th scope="col">Grand Prix</th>
      <th scope="col">Team</th>
      <th scope="col">Grid</th>
      <th scope="col">Race</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let driver of drivers'>
      <th>{{driver.round}}</th>
      <td><img src='assets/images/circuits/{{driver.Circuit.Location.country}}.png'width="41px" height="25px">{{driver.raceName}}</td>
      <td>{{driver.Results[0].Constructor.name}}</td>
      <td>{{driver.Results[0].grid}}</td>
      <td>{{driver.Results[0].position}}</td>
    </tr>
  </tbody>
</table>
