<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-hover table-dark text-center">
        <thead>
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Driver</th>
            <th scope="col">Team</th>
            <th scope="col">Best Time</th>


          </tr>
        </thead>
        <tbody *ngFor='let race of racesQ'>
          <tr *ngFor='let r of race.QualifyingResults'>
            <th>{{r.position}}</th>
            <td><img src='assets/images/drivers/{{r.Driver.nationality}}.png' width="41px"
                height="25px">{{r.Driver.familyName}}</td>
            <td>{{r.Constructor.name}}</td>
            <td>
              <span *ngIf="r.Q3">{{r.Q3}}</span>
              <span *ngIf="!r.Q3">{{r.Q2}}</span>
              <span *ngIf="!r.Q2">{{r.Q1}}</span>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-hover table-dark text-center">
        <thead>
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Driver</th>
            <th scope="col">Team</th>
            <th scope="col">Points</th>
            <th scope="col">Time</th>

          </tr>
        </thead>
        <tbody *ngFor='let race of races'>
          <tr *ngFor='let r of race.Results'>
            <th>{{r.position}}</th>
            <td><img src='assets/images/drivers/{{r.Driver.nationality}}.png' width="41px"
                height="25px">{{r.Driver.familyName}}</td>
            <td>{{r.Constructor.name}}</td>
            <td>{{r.points}}</td>
            <td>
            <span *ngIf='r.Time'>{{r.Time.time}}</span>
            <span *ngIf='!r.Time'>DNF</span>
            </td>
            <!-- <span *ngIf='r.Time.time'>{{r.Time.time}}</span>
            <span *ngIf='!r.Time.time'>{{r.Time.time}}</span> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>